* {
  box-sizing: border-box;
}

.react-magnifier-image-container {
  display:inline-block;
  position: relative;
}

.react-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  height: 100px;
  width: 100px;
  z-index: 999999;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.show-magnifier{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.hide-magnifier{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}